*{
    box-sizing: border-box;
}

body, html{
    height: 100%;
    margin: 0;
    font-size: 1.8vw;
    font-family: Pangolin;
    color: white;
    background: #2f4f4f;
    background-image: rgb(63, 62, 62);
}

button {
    width: 20vw;
    height: 10vh;
    font-size: 1.5vw;
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
}


/* Style buttons */
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 2.2vw;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1vw 2vw;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 1vw 2vw;
    border-top: none;
    text-align: center;
}

.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
  
  /* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


#particles-js {
    width: 100%;
    height: 100%;
    background-color: #2f4f4f;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    
}

canvas {
    display: block;
}

a:link {
    color: rgb(26, 241, 26);
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}